<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tfs2svn.Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tfs2svn.Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="tfsClientProvider" type="Colyar.SourceControl.TeamFoundationServer.TfsClientProviderSection, Colyar.SourceControl.TeamFoundationServer"/>
    </configSections>
    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="logs/tfs2svn.log"/>
            <param name="AppendToFile" value="false"/>
            <param name="MaxSizeRollBackups" value="-1"/>
            <param name="MaximumFileSize" value="20MB"/>
            <param name="RollingStyle" value="Once"/>
            <param name="DatePattern" value="yyyyMMdd"/>
            <param name="StaticLogFileName" value="true"/>
            <param name="CountDirection" value="0"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{ISO8601} %-5p %logger{2}  - %m %n"/>
            </layout>
        </appender>
        <root>
            <level value="INFO"/>
            <appender-ref ref="RollingLogFileAppender"/>
        </root>
    </log4net>
    <tfsClientProvider defaultProvider="OpenTF">
        <providers>
            <add name="OpenTF" description="OpenTF 0.5.2 alpha" type="Colyar.SourceControl.OpenTfsClient.TfsClientProvider, Colyar.SourceControl.OpenTfsClient"/>
            <add name="MicrosoftTeamExplorer2005" description="MS Team Explorer" type="Colyar.SourceControl.MicrosoftTfsClient.TfsClientProvider, Colyar.SourceControl.MicrosoftTfsClient"/>
        </providers>
    </tfsClientProvider>
    <userSettings>
        <tfs2svn.Winforms.Properties.Settings>
            <setting name="TFSUrl" serializeAs="String">
                <value>http://my-tfs-server:8080/MyProject</value>
            </setting>
            <setting name="SVNUrl" serializeAs="String">
                <value>https://my-svn-server:8443/svn/MyProject/trunk</value>
            </setting>
            <setting name="TFSUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkingCopyPath" serializeAs="String">
                <value>[MyDocuments]\tfs2svn</value>
            </setting>
            <setting name="DoInitialCheckout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FromChangeset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TFSDomain" serializeAs="String">
                <value/>
            </setting>
            <setting name="TFSClientProvider" serializeAs="String">
                <value/>
            </setting>
        </tfs2svn.Winforms.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <tfs2svn.Winforms.Properties.Settings>
            <setting name="TFS2SVNUserMappings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DEV\dolsthoorn;dion</string>
                        <string>DEV\kcolyar;kevin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SvnBinFolder" serializeAs="String">
                <value>libs\svn-win32-1.7.3\bin</value>
            </setting>
        </tfs2svn.Winforms.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
